<div class="overlay">
    <div class="container-fluid">
        <h1 class="text-center">
            Quote Hub
           </h1>
           <hr>
      <div class="row">
        <div class="col-sm-9">
          <div class="all-cards">
            <div *ngFor="let quote of sortQuotes let i= index" class="card" style="width: 24rem;"  >
              <div class="card-body">
                <p class="card-text" id="param">{{quote.quote}}</p>  <p id="author" class="text-success"> - {{quote.author}} </p>    
                <app-quote-details *ngIf='quote.showDets' bind-quoty='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
                <span class="card-subtitle mb-2">Posted  on:<span id="date"> <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span>  
                <h4 class="card-title" appHighlight > {{quote.maxlikes}}<button (click)='displayInfo(i)' class="btn btn-success btn-sm" id="quotes-button" >See More</button></h4>   
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <app-quote-form (add)="addedQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
  
  </div>