<div class="overlay">
    <div class="container-fluid">
        <h1 class="text-center">
            Quote Hub
           </h1>
           <hr>
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <div class="all-cards">
            <div *ngFor="let quote of sortQuotes let i= index" class="card" style="width: 24rem;"  >
              <div class="card-body">
                <p class="card-text" id="param">{{quote.quote}}</p>          
                <span class="card-subtitle mb-2">Posted <span id="date">on: <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>